@model BookStore.Models.User

@{
    ViewBag.Title = "Войти";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-success">
    <div class="panel-body">
        @using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
        {
            <div class="form-group">
                <label>Логин:</label>
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Пароль:</label>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            </div>
            <div class="text-center">
                <input type="submit" value="Войти" class="btn btn-success" />
            </div>
            @Html.ValidationSummary()
        }
    </div>
</div>

